<html>
    <head>
        <title>Редакторский интерфейс</title>
        <link rel="stylesheet" type="text/css" href="/static/build/bundle.css"/>
        <link rel="stylesheet" type="text/css" href="/static/vendor/material.css"/>
        <script type="text/javascript">
        //<![CDATA[
            window.config = {
                'ws': 'ws://localhost:8888'
            };
        //]]>
        </script>
    </head>
    <body>
        <div id="application"></div>
        <script type="text/javascript" src="/static/build/bundle.js"></script>
        <script type="text/javascript" src="/static/vendor/material.js"></script>
    </body>
</html>