/* Container */
.ikcms {
}

.ikcms-view {
    position: relative;
    top: 100px;
    padding: 0 24px;
}

/* Connection status */
.ikcms-connection {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 30px;
    padding: 5px 24px;
}


.ikcms-connection.ikcms-connection_status_connected {
    background: rgb(75, 202, 129); /* $color-background-success */
}


.ikcms-connection.ikcms-connection_status_disconnected {
    background: rgb(212, 80, 76); /* $color-background-error */
}


/* Navigation */
.ikcms-nav {
    z-index: 10000;
    position: fixed;
    top: 30px;
    display: flex;
    width: 100%;
    height: 34px;
    background: rgb(168, 183, 199);
}


.ikcms-nav__item {
    display: flex;
    padding: 6px 0 6px 24px;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

.ikcms-nav__title {
    cursor: pointer;
}

.ikcms-nav__item a {
    opacity: 0.65;
    color: #ffffff;
    text-decoration: none;
}


.ikcms-nav__item a.active {
    opacity: 1.0;
}

.ikcms-nav__item .ikcms-nav {
    visibility: hidden;
    position: absolute;
    top: 34px;
    width: auto;
    display: block;
}

.ikcms-nav__item .ikcms-nav__item {
    background: rgb(168, 183, 199);

    padding: 4px 14px;
}

.ikcms-nav__item:hover .ikcms-nav {
    visibility: visible;
}


.cms-card {
    float: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #ffffff;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 10px;
}


.cms-card__title {
    display: flex;
    padding: 10px 16px 10px 16px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}


.cms-card__item {
    display: flex;
    padding: 2px 16px 2px 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.cms-card__item a {
    color: #00bcd4;
    text-decoration: none;
}


.cms-paginator {
    margin: 10px 0;
}


.cms-paginator__item {
    margin: 0 5px;
    padding: 2px 4px;
    border-radius: 2px;
    background: #f4f6f9;
    color: #16325c;
    border: 1px solid #d8dde6;
}

.cms-paginator__item:hover {
    cursor: pointer;
    color: #ffffff;
}

.cms-paginator__item--ellipsis {
    background: none;
    border: none;
}

.cms-paginator__item--ellipsis:hover {
    cursor: default;
}

.cms-paginator__item--current {
    color: #eef1f6;
    background: #4bc076;
}

.cms-paginator__item--current:hover {
    cursor: default;
    color: #eef1f6;
    background: #4bc076;
}

.cms-stream .slds-page-header {
    margin-bottom: 10px;
}

.slds-modal {
    background: #cfd7e6;
}

.slds-modal__container {
    max-width: 25rem;
}

.slds-modal .slds-form--horizontal {
    margin: 20px 40px;
}