.mdl-layout {
    /*align-items: center;*/
    /*justify-content: center;*/
    background: #efefef;
}


.mdl-layout__content {
    padding: 24px;
    flex: none;
}


.cms-nav {
    height: 70px;
    padding: 0 16px 0 25px;
    margin-bottom: -16px;
    display: flex;
}


.cms-nav__item {
    font-weight: 500;
    line-height: 64px;
    padding: 0 16px;
    color: #ffffff;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    display: flex;
}


.cms-nav__item a {
    opacity: 0.65;
    color: #ffffff;
    text-decoration: none;
}


.cms-nav__item a.active {
    opacity: 1.0;
}


.cms-card {
    float: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #ffffff;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 10px;
}


.cms-card__title {
    display: flex;
    padding: 10px 16px 10px 16px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}


.cms-card__item {
    display: flex;
    padding: 2px 16px 2px 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.cms-card__item a {
    color: #00bcd4;
    text-decoration: none;
}


.cms-paginator {
    margin: 10px 0;
}


.cms-paginator__item {
    margin: 0 5px;
    padding: 2px 4px;
    border-radius: 2px;
    background: #f4f6f9;
    color: #16325c;
    border: 1px solid #d8dde6;
}

.cms-paginator__item:hover {
    cursor: pointer;
    color: #ffffff;
}

.cms-paginator__item--ellipsis {
    background: none;
    border: none;
}

.cms-paginator__item--ellipsis:hover {
    cursor: default;
}

.cms-paginator__item--current {
    color: #eef1f6;
    background: #4bc076;
}

.cms-paginator__item--current:hover {
    cursor: default;
    color: #eef1f6;
    background: #4bc076;
}

.cms-stream .slds-page-header {
    margin-bottom: 10px;
}

.slds-modal {
    background: #cfd7e6;
}